body {
  background-color: white;
  font-size: 1em;
  font-family: sans-serif;
  background:url('u7map.jpg');
  background-size: 1500px;
  color:#EFFBF2;
}

h1 {
  padding-top: 40px;
  text-align: center;
  color: silver;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
  padding: 0px;
}

ul li {
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.nav {
  display:block;
  width:70%;
  max-width:70%;
  margin:5px auto;
  display: flex; 
  justify-content: space-around;
  color:black;
}

.gameContainer {
  width:900px;
  height:600px;
  margin:10px auto;
  padding:5px;
  border-radius:8px;
  border:black 0px solid;
  background-color:rgba(0,0,0,0.8);
  overflow-y:scroll;
}

.game-hide {
  display:none;
}

.error {
  font-size:.8em;
  color:red;
}

.tab {
  padding:10px;
  border-radius:8px;
  background-color:#F7F8E0;
  cursor:pointer;
}

.tab:hover{ 
  background-color:#CED8F6;
  color:green;
}

.tabSelected {
  background-color:black;
  color:white;
}

.contentsContainer {
  margin:auto;
  width:500px;
  height:100%;
}

.articleContainer > div { 
  display:none;
}

.story { 
  height:130px;
  display:block;
}

.history {
  margni-top:20px;
  height:250px;
  display:none;
}

.printPasscode {
  color:white;
}

.boxArt { 
  width:145px;
  float:right;
  padding-left:5px;
}